/* ========== Reset Styles =========== */
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
em,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
embed,
figure,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
figure,
footer,
header,
section {
  display: block;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ===== Variables ===== */
/* ===== Variables End ===== */
/* ===== Style ===== */
body * {
  font-family: 'Arial', sans-serif;
}
.ng-cloak {
  display: none;
}
.color-primary {
  color: #2196f3;
}
.clickable:hover {
  cursor: pointer;
}
.list.ng-enter,
.list.ng-move {
  transition: .5s opacity;
  opacity: 0;
}
.list.ng-enter.ng-enter-active,
.list.ng-move.ng-move-active {
  opacity: 1;
}
.list.ng-leave {
  transition: .5s opacity;
  opacity: 1;
}
.list.ng-leave.ng-leave-active {
  opacity: 0;
}
.main-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}
.item-title {
  text-decoration: underline;
}
label {
  text-transform: uppercase;
}
.fas.is-large {
  font-size: 1.2em;
}
.footer {
  background: #222;
  color: #fff;
}
