<md-sidenav class="md-sidenav-left md-whiteframe-z6" md-component-id="left" md-is-open="ctrl.sidenavOpen">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Add an item</h1>
    </md-toolbar>

    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="title">Title</label>
                <input type="text" id="title" ng-model="item.title" md-autofocus>
            </md-input-container>
            <md-input-container>
                <label for="url">URL</label>
                <input type="text" id="url" ng-model="item.url">
            </md-input-container>
            <md-input-container ng-repeat="cat in [1, 2]">
                <label for="categories">Categories</label>
                <input type="text" id="categories" ng-model="item.categories[cat]">
            </md-input-container>

            <md-button class="md-primary" ng-click="ctrl.saveItem(item)">
                Save
            </md-button>
            <md-button class="md-warn" ng-click="ctrl.closeSidebar()">
                Cancel
            </md-button>
        </form>
    </md-content>
</md-sidenav>