<!DOCTYPE html>
<html lang="en" ng-app="linkListApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Link List Builder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="navbar-item">
        <a class="app-name is-size-4" href="/app/#!/home" title="home">linkList</a>
    </div>
    <div class="tabs is-medium is-centered">
        <ul ng-init="selectedTab = 'encode'">
            <li ng-class="{'is-active':selectedTab === 'encode'}" ng-click="selectedTab = 'encode'">
                <a href="/app/#!/encode" title="Encode links to base-64">Encode</a>
            </li>
            <li ng-class="{'is-active':selectedTab === 'decode'}" ng-click="selectedTab = 'decode'">
                <a href="/app/#!/decode" title="Decode to links">Decode</a>
            </li>
        </ul>
    </div>
    <div class="columns">
        <section class="">
            <div ng-view></div>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.min.js"></script>
    <script src="app.module.js"></script>
    <script src="form-list/form-list.module.js"></script>
    <script src="form-list/form-list.component.js"></script>
    <script src="link-list/link-list.module.js"></script>
    <script src="link-list/link-list.component.js"></script>
</body>

</html>