<md-toolbar>
    <div class="md-toolbar-tools">
        <p>
            <strong>List App</strong>
        </p>

        <md-button ng-click="ctrl.openSidebar()">
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            New List
        </md-button>

        <md-button ng-click="showFilters = true">
            <md-icon class="mdi mdi-magnify"></md-icon>
            Search
        </md-button>
    </div>
</md-toolbar>

<div class="filters" layout="row" layout-align="center start" ng-show="showFilters">
    <md-input-container>
        <label for="search">Enter Search Term</label>
        <input id="search" type="text" ng-model="listFilter">
    </md-input-container>

    <md-input-container>
        <label>Category</label>
        <md-select ng-model="category">
            <md-option ng-repeat="category in ctrl.categories" value="{{category}}">{{category}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <md-button class="md-warn" ng-click="listFilter = ''; category = ''">Clear</md-button>
    </md-input-container>
</div>

<ui-view></ui-view>

<md-content class="md-padding" layout="row" layout-wrap>
    <md-card class="item" ng-repeat="item in ctrl.list | filter: listFilter | filter: category">
        <md-card-content>

            <div class="item-info" ng-show="!showContact" layout-padding>
                <h3>
                    <a ng-href="{{item.url}}">{{item.title}}</a>
                </h3>
                <p>{{item.categories}}</p>
            </div>

            <div layout="row">
                <md-button ng-click="ctrl.editItem(item)" class="md-primary">Edit</md-button>
                <md-button class="md-warn" ng-click="ctrl.deleteItem($event, item)">Delete</md-button>
            </div>

        </md-card-content>
    </md-card>
</md-content>

<md-content class="md-padding">
    <md-input-container>
        <md-button class="md-primary" ng-click="ctrl.encode(); focused = true">Encode</md-button>
    </md-input-container>

    <md-input-container ng-class="{'md-input-focused': focused}">
        <label for="encoded">Encoded</label>
        <textarea name="encoded" id="encoded" cols="60" rows="5"></textarea>
    </md-input-container>

    <md-input-container>
        <md-button class="md-warn" ng-click="ctrl.decode()">Decode</md-button>
    </md-input-container>

    <md-input-container>
        <label for="result">Decoded</label>
        <textarea name="decoded" id="decoded" cols="60" rows="5"></textarea>
    </md-input-container>
</md-content>